langchain
ipykernel
python-dotenv
langchain-openai
langchain_groq
langchain_core
fastapi
uvicorn
langserve
langchain_community
transformers
langchain-chroma
langchain_huggingface
sentence-transformers
bs4